.sidebar {
  width: 220px;
  background: #2d3a4b;
  color: #fff;
  min-height: 100vh;
  padding: 32px 16px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 32px;
  color: #fff;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #ff0 !important;
  border: 2px solid  #2d3a4b(29, 27, 27) !important;
}
.sidebar li {
  padding: 16px 0 16px 12px !important;
  cursor: pointer;
  font-size: 1.2rem !important;
  border-bottom: 2px solid  #2d3a4b(18, 18, 19) !important;
  color: #000 !important;
  background: rgba(5, 128, 230, 0.89) !important;
  display: block;
  font-weight: bold;
}
.sidebar li:hover {
  color: #ffffff !important;
}
